<footer class="footer">
  <p><strong>ShopEase</strong> &mdash; B.E. CSE DevOps Internship Project &mdash; Vedarth Bhatt (2201201138) &mdash; KSET, Dr. KP Patel Global University, Vadodara &mdash; 2024-25</p>
</footer>
</body>
</html>
